html {
  height: 100vh;
}

@font-face {
  font-family: Roboto;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
}

body {
  font-family: Roboto, sans-serif;
  font-size: 15px;
}

/* Colors */
$color-primary: hsl(4, 100%, 67%); //Tomato
$color-neutral-primary: hsl(234, 29%, 20%); // Dark Slate Grey 
$color-neutral-secondary: hsl(235, 18%, 26%); // Charcoal Grey
$color-neutral-accent: hsl(231, 7%, 60%); // Grey
$color-neutral-white: hsl(0, 0%, 100%); // White 

.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}
